/* styles.css */
body {
  background-color: #000 !important; /* Fundo preto para a página inteira */
  font-family: 'Poppins', sans-serif; /* Aplica a fonte Poppins */
  color: white; /* Texto branco */
  margin: 0;
  padding: 0;
}

  